

.styled-expand-wrapper {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 36px;
    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    }
}


.styled-row {
  padding: 3px 10px;
  line-height: 18px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;

  &:last-of-type {
    border-bottom: none;
  }
}

.styled-key {
  align-items: center;
  justify-content: center; 
  flex: 1;
  min-width: 0;
  padding: 0; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-it-url {
  text-decoration: underline;
  pointer-events: all;
}


.foreign-object {
  font-family: monospace;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  pointer-events: none;


  .renderVisible {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
  }
}

